<div class="admin_box_wrapper">
  <div class="admin_box">
    <%= link_to "Add Book", new_book_path%>
  </div>

  <div class="admin_box">
    <%= link_to "Add Article", new_article_path%>
  </div>

  <div class="admin_box">
    <%= link_to "Add Lecture", new_lecture_path%>
  </div>

  <div class="admin_box">

    <%= link_to "Add Blog Post", new_post_path%>
  </div>
</div>
