<div class="blog_wrapper">
  <% @posts.each do |post| %>
    <a href="/posts/<%=post.id%>">
      <div class="post_box">
        <h2><%=post.title %></h2>
        <h3><%=post.date.strftime("%m/%d/%Y")%></h3>
        </div>
    <% end %>
</div>
